/* basic styling of elements*/
body {
  background-color: #1f1b26;
}

/* styling of specific classes*/
.menu {
  width: 15%;
  min-width: 110px;
  max-width: 200px;
  position: fixed;
}

.navbar {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: -webkit-fill-available;
}

.search-div {
  display: table;
  width: 100%;
  display: none;
}

.search-box {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 80%;
  box-sizing: border-box;
  border-radius: 6px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: none;
  height: 24px;
  background-color: #373044ff;
  color: #dddce0;
}

.search-button {
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  width: 20%;
  vertical-align: top;
  background-color: #8777a3
}

.menu-span {
  color: #dddce0;
  background-color: #695b82;
  border-radius: 6px;
  padding: 5px;
  display: block;
  text-align: center;
  outline-color: #55358f;
  outline-width: thin;
  outline-style: inset;
}

.content {
  width: 85%;
  float: left;
  margin-left: min(max(110px, 15%), 200px);
}